{{yield pagedContent }} {{! Display the ten posts of the current page }}
<ul class="page-list" data-test-page-num-list>
  {{#each pageNumbers as |pageNumber| }}
    <li>
      <button class="page-button" {{action "pageClicked" pageNumber }}
              data-test-page-button={{pageNumber}}>
        <div>
          <img src="/assets/images/logo.png" alt="potato pages" >
        </div>
        {{! The page number user can choose from }}
        <div>{{pageNumber}}</div>
      </button>
    </li>
  {{/each}}
</ul>
