@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$title-banner-height: 600px;
$title-font-family: 'Open Sans', sans-serif;
$title-bg-dark: #972276;
$title-bg-light: #f50374;
$post-bg: #f2f2f2;

// Just for testing
* {
  //border-style: dotted;
  font-family: $title-font-family;
}

body {
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

/* ***************** this is the for the top banner / applicatoin.hbs
 */
.container{
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}

.navbar {
  font: {
    size: 20px;
  }
  width: 100%;
  height: 50px;
  text-align: center;
  overflow: hidden;
  background-color: white;


  ul {
    float: left;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
  }// end of ul

  li {
    padding-left: 20px;
    display: block;
  } // end of li

  img {
    width: auto;
    height: auto;
    max-height: 30px;
  }

}

.main-title {
  background-image: linear-gradient(90deg, $title-bg-light, $title-bg-dark);
  height: $title-banner-height;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;

  a {
    line-height: $title-banner-height;
    text-align: center;

    color: white;
    font-size: 60px;
  }
}

/* ************ end of application.hbs *********************/

/* ************ styling main post page ********************/

.post-list {
  background-color: white;
  :nth-of-type(even) { // alternating list color
    article {
      background-color: $post-bg;
    }
  }
}

/*** make the post expanding **/
input[type='checkbox'] { // hide the actual checkbox
  display: none;
}

.post-detail {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.lbl-toggle {
  display: block;

  font: {
    weight: bold;
    size: 0.8rem;
  }
  text-align: left;

  padding: 1rem;

  color: grey;

  &:before {
    border: {
      top: 5px solid transparent;
      bottom: 5px solid transparent;
      left: 5px solid currentColor;
    } // End of border

    content: ' ';
    display: inline-block;

    vertical-align: middle;
    margin-right: 0.7rem;
    transform: translateY( -2px );

    transition: transform 0.2s ease-out;
  } // end of before
}

.toggle:checked + .lbl-toggle + .post-detail {
  max-height: 350px;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}


.comments-hidden {
  display: none;
}

.title {
  font: {
    size: 30px;
    weight: 300;
  }
}
