@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$title-banner-height: 600px;
$title-font-family: 'Open Sans', sans-serif;
$title-bg-dark: #972276;
$title-bg-light: #f50374;
$post-bg: #f2f2f2;
$post-body-color: #333333;
$user-color: #737373;

// The mixin for expanding collapsed variables
@mixin collapsibleContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

// Just for testing
* {
  //border-style: dotted;
  font-family: $title-font-family;
}

body {
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

/* ***************** this is the for the top banner / applicatoin.hbs
 */
.container{
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}

.navbar {
  font: {
    size: 20px;
  }
  width: 100%;
  height: 50px;
  text-align: center;
  overflow: hidden;
  background-color: white;


  ul {
    float: left;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
  }// end of ul

  li {
    padding-left: 20px;
    display: block;
  } // end of li

  img {
    width: auto;
    height: auto;
    max-height: 30px;
  }


  .reloadPost {
    display: none;
  }

  .lbl-reloadPost {
    cursor: pointer;
  }

}

.main-title {
  background-image: linear-gradient(90deg, $title-bg-light, $title-bg-dark);
  height: $title-banner-height;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;

  a {
    line-height: $title-banner-height;
    text-align: center;

    color: white;
    font-size: 60px;
  }

}

/* ************ end of application.hbs *********************/

/* ************ styling main post page ********************/

.post-list {
  background-color: white;
  :nth-of-type(even) { // alternating list color
    article {
      background-color: $post-bg;
    }
  }
}

/*** make the post expanding **/
input[type='checkbox'] { // hide the actual checkbox
  display: none;
}

// Styling the actual post
.single-post .title{
  font: {
    size: 30px;
    weight: bold;
  }
  letter-spacing: -1px;
  text-align: left;
}

.post-detail {

  @include collapsibleContent;
  padding-left: 40px;
  border-left: 1px solid $post-bg;
  color: $post-body-color;

  .op {
    color: $user-color;
    font-size: 15px;
  }
}

.comments { // comment seperately collapsible
  @include collapsibleContent;
  padding-left: 40px;

  .comment-name {
    font-size: 12px;
    margin-bottom: 1px;
    color: $user-color;
  }

  .comment-body {
    margin-top: 1px;
  }
}

.lbl-toggle {
  display: block;

  font: {
    weight: bold;
    size: 14px;
  }
  text-align: left;

  padding: 16px;

  color: #cccccc;

  &:before {
    border: {
      top: 5px solid transparent;
      bottom: 5px solid transparent;
      left: 5px solid currentColor;
    } // End of border

    content: ' ';
    display: inline-block;

    vertical-align: middle;
    margin-right: 0.7rem;
    transform: translateY( -2px );

    transition: transform 0.2s ease-out;
  } // end of before
}

.toggle:checked + .lbl-toggle + .post-detail {
  max-height: 1000px;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle + .comments {
  max-height: 1000px;
}


/*************** done styling the posts *******************/

/******************* style the page list *****************/

.page-list {
  display: flex;
  justify-content: space-around;
  width: 50%;

  margin-top: 40px;

  :hover {
    cursor: pointer;
  }
}

.page-button {
  border-style: hidden;
  background-color: white;

  img {
    height: 30px;
  }
}
