<div class="jumbo post-detail">
  <h2 class="title"> {{this.model.title}} </h2>
  <div class="content">
    <div class="detail">
      <h1> Under Construction. </h1>
      <strong>Posted by:</strong> {{this.model.userId}}
    </div> {{! op div }}

    <div class="detail">
      <strong>{{this.model.body}}</strong>
    </div>{{! body div}}
  </div>{{! content div }}
</div>
