{{#pagination posts=model as |pagedPosts| }}
  <ul class="post-list">
    {{#each pagedPosts as |singlePost|}}
      <li>
        <IndividualPost @post = {{singlePost}} />
      </li>
    {{/each}}
  </ul>
{{/pagination}}
{{outlet}}
