{{#pagination posts=model as |pagedPosts| }}
  {{! yield will display the following code, with the pages at the button}}
  <ul class="post-list" data-test-post-list>
    {{#each pagedPosts as |singlePost|}}
      <li>
        <IndividualPost @post = {{singlePost}} />
      </li>
    {{/each}}
  </ul>
{{/pagination}}
{{outlet}}
