<div class="container">

  {{! The navigation bar at the top that doesn't move }}
  <nav class="navbar">
    {{#link-to "index"}}
      <h1>
        <h2>A Potate Pit of Programmers</h2>
      </h1>
    {{/link-to}}

    <div class="navtabs">
      {{#link-to "posts" class="navbar-posts"}}
        Posts
      {{/link-to}}

      {{#link-to "users" class="navbar-users"}}
        Users
      {{/link-to}}

      {{#link-to "photos" class="navbar-photos"}}
        Photos
      {{/link-to}}

    </div> {{! navtabs }}

  </nav> {{! navbar }}

  <div class="body">
    {{outlet}}
  </div>
</div> {{! container }}
