<link rel="icon" href="/public/favicon.ico">

<div class="container">

  {{! The navigation bar at the top that doesn't move }}
  <nav class="navbar">
    <ul>
      <li>
        <img src="/assets/images/logo.png" alt="logo of the website">
      </li>
      <li>
        {{#link-to "posts" class="navbar-posts"}}
          <input type="button" value=" " id="reloadPostNav" class="reloadPost" >
          <label for="reloadPostNav" onClick="document.location.reload(true)"
                  class="lbl-reloadPost">
            Posts
          </label>
        {{/link-to}}
      </li>
      <li>
        {{#link-to "users" class="navbar-users"}}
          Users
        {{/link-to}}
      </li>
      <li>
        {{#link-to "photos" class="navbar-photos"}}
          Photos
        {{/link-to}}

      </li>
    </ul>
  </nav> {{! navbar }}

  {{! The bigggg banner :D }}
  <div class="main-title">
    {{#link-to "index"}}
      <label for="reloadPostTitle" onClick="document.location.reload(true)"
              class="lbl-reloadPost">
        A Potato Pit of Programmers
      </label>
    {{/link-to}}
  </div>

  {{outlet}}

</div> {{! container }}
